body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 65%;
    height: 85%;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
}

.video-section {
    width: 50%;
    background-color: #f8f9fa;
}

.info-section {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    transition: transform 0.3s ease; 
}

h1 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    color: #555;
    margin: 5px 0;
}

a {
    color: #007acc;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #005f99;
}

.AOP h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.AOP ul {
    list-style: none;
    padding: 0;
}

.AOP li {
    margin-bottom: 10px;
}

.AOP a {
    color: #007acc;
    font-size: 18px;
    text-decoration: none;
    transition: transform 0.3s ease-in-out;
}

.AOP a:hover {
    text-decoration: underline;
    transform: scale(1.05);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}
